.caroulselHomeContainer{
    background-color: red;
    width: 100vw;
    height: auto;
    padding: 50px 80px;
    text-align: center;
}
.caroulselHomeContainerTitle{
  color: var(--blue);
  font-size: 2rem;
  padding-bottom: 30px;
}



.swiper {
    width: 100%;
    height: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: green;
    border-radius: 10px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: -10px 10px 25px var(--gray);
    padding: 40px;
  }
  
  .swiper-slide img {
    display: block;
    width: 70%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  .slideImgBox{
      background-color: yellow;
      margin-bottom: 30px;
  }
  .slideImg img{
      width: 150px;
  }
  .slideTitle{
      color: var(--blue);
  }
  .slideParagraph{
      font-size: 0.8rem;
      padding-bottom: 50px;
  }
  .btnVer{
    border-radius: 50px;
    padding: 0.7rem 5em;
    background-color: var(--orange);
    border:none;
    cursor:pointer;
    box-shadow: 1px 1px 1px 0px var(--gray);
    color: var(--white);
    font-size: 0.8rem;
  }


  .btnVer:hover{
    background-color: var(--lightBlue);
}




@media (min-width: 768px) {
.swiper-slide{
  width: 100px;
}
}

@media (min-width: 1024px) {

.caroulselHomeContainerTitle{
  font-size: 3rem;
}
.btnVer{
  font-size: 1rem;
}
}
