.caroulselHomeContainer {
  width: 100vw;
  height: auto;
  padding: 10px;
  text-align: center;
}

.caroulselHomeContainerTitle {
  color: var(--blue);
  font-size: 2rem;
  padding-bottom: 30px;
}

.swiper {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.slideContainer {
  width: 100%;
  box-shadow: 1px 1px 1px 1px var(--gray);
  border-radius: 10px;

  padding: 20px;
  margin: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.slideImgBox {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: rgba( 196, 196, 196, 0.2);
  box-shadow: 1px 1px 5px -1px var(--gray);

}
.slideImgBox img {
  width: 70%;
}

.slideTitle {
  color: var(--blue);
}
.slideParagraphBox {
  padding: 25px;
}
.slideParagraph {
  font-size: 0.8rem;
  padding-bottom: 10px;
}
.btnVer {
  border-radius: 50px;
  padding: 0.5rem 5rem;
  background-color: var(--orange);
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px var(--gray);
  color: var(--white);
  font-size: 0.6rem;
  margin-bottom: 20px;
}

.btnVer:hover {
  background-color: var(--lightBlue);
}

@media (min-width: 768px) {
  .caroulselHomeContainer {
    padding: 20px;
  }
  .swiper-slide {
    width: 100px;
    padding: 20px;
  }
  .slideParagraphBox {
    padding: 15px;
  }
  .btnVer {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .caroulselHomeContainer {
    padding: 50px 80px;
  }
  .caroulselHomeContainerTitle {
    font-size: 3rem;
  }
  .btnVer {
    font-size: 1rem;
  }

  .swiper-slide {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .slideParagraphBox {
    padding: 25px;
  }
}
