.cardTienda {
  background-color: red;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px 0px var(--gray);
  
}

.cardTiendaImg {
  display: block;
  width: 70%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  background-color: yellow;
  margin-bottom: 30px;
}

.cardTiendaTitle {
  color: var(--blue);
}
.cardTiendaParagraph {
  font-size: 0.8rem;
  padding-bottom: 10px;
}
.cardTiendaPrice {
  padding-bottom: 30px;
}
.btnAdd{
  border-radius: 50px;
  padding: 0.5rem 5em;
  background-color: var(--lightBlue);
  border:none;
  cursor:pointer;
  box-shadow: 1px 1px 1px 0px var(--gray);
  color: var(--white);
  font-size: 0.6rem;
}


.btnAdd:hover{
  background-color: var(--orange);
}


@media (min-width: 768px) {

.btnAdd{
  font-size: 0.8rem;
}
}

@media (min-width: 1024px) {


.btnAdd{
  font-size: 1rem;
}
}
